/* Michael Okuda */

.navigation {
    top: 60px;
    left: 0px;
    right: 0px;
    height: 200px;
}

.tableau {
    max-width: 100%;
    margin: auto;
}

.footer {
    height: 25px;
    left: 0px;
    right: 0px;
    bottom: 0;
    text-align: center;
    font-size: 10px;
}

.background {
    background-color: rgb(131, 191, 240);
}

.caption {
    text-align: center;
    background-color: gray;
}